<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAbonneLabel">Create or edit a Abonne</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!abonne.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="abonne.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ncin">Ncin</label>
            <input type="number" class="form-control" name="ncin" id="field_ncin"
                [(ngModel)]="abonne.ncin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="abonne.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="abonne.prenom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_datenaissance">Datenaissance</label>
            <div class="input-group">
                <input id="field_datenaissance" type="text" class="form-control" name="datenaissance" ngbDatepicker  #datenaissanceDp="ngbDatepicker" [(ngModel)]="abonne.datenaissance"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="datenaissanceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
