
<div *ngIf="abonne">
    <h2><span>Abonne</span> {{abonne.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Ncin</span></dt>
        <dd>
            <span>{{abonne.ncin}}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{abonne.nom}}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
            <span>{{abonne.prenom}}</span>
        </dd>
        <dt><span>Datenaissance</span></dt>
        <dd>
            <span>{{abonne.datenaissance | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'abonne-my-suffix/'+ abonne.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
